<%if(success && success.length) {%>

    <div class="alert alert-success">
        <%- success %>
    </div>
    <%}%>
        <%if(error && error.length) {%>
            <div class="alert alert-danger">
                <%- error %>
            </div>
            <br>
            <%}%>