<html>

<head>
    <title>Blogeron</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Blogeron</div>
            <%if(auth){%>
                <a href="/blogs" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>

                <a class="item" href='/logout'>Logout</a>
                <%}%>
        </div>
    </div>
    <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere doloremque quos aperiam beatae, non inventore nemo ipsam possimus consequatur quas suscipit, eaque incidunt voluptatem accusamus labore! Nisi aspernatur doloremque, amet exercitationem deleniti voluptate explicabo quae error voluptatibus saepe iure eum. Itaque mollitia aut doloribus nam error tenetur recusandae excepturi eaque. -->